<!DOCTYPE html>
<html>

<head>

<title>Image Prediction</title>

<style>

body{

background:#ECECEC;

font-family:Arial;

padding:40px;

}

.box{

width:600px;

margin:auto;

background:white;

padding:40px;

border-radius:12px;

box-shadow:0 0 10px gray;

text-align:center;

}

input{

margin-top:20px;

}

button{

margin-top:20px;

padding:10px 20px;

font-size:16px;

}

a{

text-decoration:none;

}

</style>

</head>

<body>

<div class="box">

<h1>Image Prediction</h1>

<p>Upload a cat image or a dog image to classify.</p>

<form method="POST" enctype="multipart/form-data">

<input type="file" name="image">

<br>

<button type="submit">

Predict

</button>

</form>

<br>

<a href="/">⬅ Back to Quiz</a>

</div>

</body>

</html>